<div>
  <div><%= @disk.title %></div>
  <div><%= @disk.introduction %></div>
  <div>
    <audio src= "<%= "#{@disk.file}" %>" controls="">
      <a src="<%= "#{@disk.file}" %>">DL</a>
    </audio>
  </div>
</div>
