<% if obj.errors.any? %>
  <div class="alert alert-danger text-center mx-auto mt-2" style="width: 70%;">
    <ul class="list-unstyled mt-2"><button type="button" class="close" data-dismiss="alert">&times;</button>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
